/* p {                                 // here p is called selector
    font-family : sans-serif ;
    color : red ;
}

li {
    background-color : greenyellow ;
    border : px solid black ;
    margin-bottom : 5px ;
} */

html {

    /* px means "pixels". The base font size is now 10 pixels high */
    font-size: 10px;
    
    /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
    font-family: "Roboto" , sans-serif ;

    background-color : lightblue ;
}

body {
    width : 600px ;
    margin : 0 auto ;
    padding : 0px 20px 20px 20px ;
    border : 5px solid black ;
}


h1 {
    font-size : 60px ;
    text-align : center ;
    margin-bottom: 20px ;
    text-shadow: 3px 3px 1px grey;

}

h2 {
    font-size : 30px ;
    text-align : center ;
    margin-bottom: 10px ;
}

p {
    padding : 0px 20px 20px 20px ;
    border : 5px solid black ;
    margin : 0 auto ;
}

p,
li {
    font-size : 16px ;
    line-height : 2 ;
    letter-spacing : 1px ;
    margin-left : 10px ;
    margin-right : 10px ;
}

ul {
    margin-left: 40px ;
}

img {
    display : block ;
    width : 550px ;
    height : 400px ;
    border : 5px solid black ;
    margin : 0 auto ;
}

.done {
    color : red ;
    text-decoration : line-through solid black 2px ;
}

li {
    cursor : pointer ;
    font-weight : bold ;
}